
<p-card>
<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onsubmit(f)" #f="ngForm">
           
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label for="cor">Cor</label>
                        <input 
                            type="text" 
                            id="color" 
                            class="form-control" 
                            name="color" 
                            required="required" 
                            ngModel
                        >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 form-group">
                            <label for="serial">Serial</label>
                            <input 
                                style="margin-bottom: 10px;"
                                type="text" 
                                id="serial" 
                                class="form-control" 
                                name="serial" 
                                required="required" 
                                ngModel
                            >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                              <label for="categories" style="margin-right: 10px;">Categorias</label>
                              <p-dropdown
                                [options]="categories"
                                [(ngModel)]="selectedItem" 
                                name="category"
                                optionLabel="name"
                                >
                                </p-dropdown>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-sm-5 form-group">
                                <button 
                                    style="margin-top: 10px;"
                                    class="btn btn-success" 
                                    type="submit"
                                    [disabled]="!f.valid"
                                >
                                Salvar
                               </button>
                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p-card>
